{% extends 'home/home-layout.html' %}
{% block home-content %}

<nav class="navbar navbar-expand-lg navbar-light ftco_navbar ftco-navbar-light" id="ftco-navbar"
	 style="position:absolute;">
	<div class="container">
		<a class="navbar-brand" href="index.html">Kathmandu<span>Futsal</span></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation"><span class="oi oi-menu"></span> Menu</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="#grounds" class="nav-link">Our Grounds</a></li>
	          <li class="nav-item"><a href="#cafeteria" class="nav-link">Cafeteria</a></li>
	          <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
	          <li class="nav-item"><a href="register" class="btn btn-outline-success btn-sm nav-link" style="margin:5;">Register Customer</a></li>
			  <li class="nav-item"><a href="/login" class="btn btn-outline-danger btn-sm nav-link" style="margin:5;">Login Admin</a></li>
			  <li class="nav-item"><img src="../../static/images/avatar.jpg" alt="avatar" style="vertical-align: middle;width: 50px;height: 50px;border-radius: 50%; margin-top:13; margin-left:5;"></li>
	        </ul>
	    </div>
	</div>
</nav>
<!-- end nav -->
{% load static %}
<div class="hero">
	<section class="home-slider owl-carousel">
    	<div class="slider-item active" style="background-image:url({% static 'images/bg_1.jpg' %});">
	      	<div class="overlay"></div>
	        <div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end">
					<div class="col-md-6 ftco-animate">
						<div class="text">
	          				<h2>Enjoy with your game within your circle</h2>
		            		<h1 class="mb-3">Ground Mini</h1>
	            		</div>
	          		</div>
				</div>
	        </div>
		</div>

		<div class="slider-item" style="background-image:url(../../static/images/bg_2.jpg);">
			<div class="overlay"></div>
	        <div class="container">
	          	<div class="row no-gutters slider-text align-items-center justify-content-end">
	          		<div class="col-md-6 ftco-animate">
	          			<div class="text">
	          				<h2> More people more fun</h2>
		            		<h1 class="mb-3">Ground Mega</h1>
	            		</div>
	          		</div>
	        	</div>
	        </div>
		</div>
	</section>
</div>
<section class="ftco-section ftco-wrap-about ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-7 order-md-last d-flex">
				<div class="img img-1 mr-md-2 ftco-animate" style="background-image: url(../../static/images/bg_2.jpg);"></div>
				<div class="img img-2 ml-md-2 ftco-animate" style="background-image: url(../../static/images/bg_1.jpg);"></div>
			</div>
			<div class="col-md-5 wrap-about pb-md-3 ftco-animate pr-md-5 pb-md-5 pt-md-4">
				<div class="heading-section mb-4 my-5 my-md-0">
					<span class="subheading">About Kathmandu Futsal</span>
					<h2 class="mb-4">Kathmandu Futsal - Play more</h2>
				</div>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				<p><a href="#grounds" class="btn btn-secondary rounded">Book Now</a></p>
			</div>
		</div>
	</div>
</section>

<section id="grounds" class="ftco-section ftco-no-pb ftco-room">
	<div class="container-fluid px-0">
		<div class="row no-gutters justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Kathmandu Futsal Grounds</span>
				<h2 class="mb-4">Ground Sizes</h2>
			</div>
		</div>x
		<div class="row no-gutters">
			{% for data in grounds %}
			<div class="col-lg-6">
				<div class="room-wrap d-md-flex ftco-animate">
					<a href="#" class="img" style="background-image:url(/static/{{data.image}});"></a>
					<div class="half left-arrow d-flex align-items-center">
						<div class="text p-4 text-center">
							<p class="star mb-0"><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span></p>
							<p class="mb-0"><span class="price mr-1">Rs.{{data.price}}</span><span class="per">per hour</span></p>
							<h3 class="mb-3"><a href="#">{{data.ground_name}}</a></h3>
							<p class="pt-1"><a href="view_details/{{data.ground_id}}" class="btn-custom px-3 py-2 rounded">View Details <span class="icon-long-arrow-right"></span></a></p>
<!--						  <a href="update/{{data.ground_id}}" class="btn btn-primary">edit</a>-->
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="instagram">
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Photos</span>
				<h2><span>Instagram</span></h2>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-sm-12 col-md ftco-animate">
				<a href="../../static/images/insta-1.png" class="insta-img image-popup" style="background-image: url(../../static/images/insta-1.png);">
					<div class="icon d-flex justify-content-center">
						<span class="icon-instagram align-self-center"></span>
					</div>
				</a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
				<a href="../../static/images/insta-2.png" class="insta-img image-popup" style="background-image: url(../../static/images/insta-2.png);">
					<div class="icon d-flex justify-content-center">
						<span class="icon-instagram align-self-center"></span>
					</div>
				</a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
				<a href="../../static/images/insta-3.png" class="insta-img image-popup" style="background-image: url(../../static/images/insta-3.png);">
					<div class="icon d-flex justify-content-center">
						<span class="icon-instagram align-self-center"></span>
					</div>
				</a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
				<a href="../../static/images/insta-4.png" class="insta-img image-popup" style="background-image: url(../../static/images/insta-4.png);">
					<div class="icon d-flex justify-content-center"><span class="icon-instagram align-self-center"></span>
					</div>
				</a>
			</div>
			<div class="col-sm-12 col-md ftco-animate">
				<a href="../../static/images/insta-5.png" class="insta-img image-popup" style="background-image: url(../../static/images/insta-5.png);">
					<div class="icon d-flex justify-content-center">
						<span class="icon-instagram align-self-center"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<div>
</div>
<footer id="contact" class="ftco-footer ftco-section img" style="background-image: url(../../static/images/bg_2.jpg);">
	<div class="overlay"></div>
	<h1 class="ftco-heading-1" style="text-align:center;text-color:white;">Contacts</h1>
	<div class="container">
		<div class="row mb-5">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Kathmandu Futsal</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque consectetur dolores ea enim ex exercitationem explicabo, illo maiores nihil nisi numquam quae quaerat quibusdam quos tempore totam vero voluptatem!</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
						<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>

			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2"></h2>
					<div class="block-23 mb-3">
						<ul>
							<li><span class="icon icon-map-marker"></span><span class="text">New Baneshwor, Kathmandu, Nepal</span></li>
							<li><a href="#"><span class="icon icon-phone"></span><span class="text">+977 9813123456</span></a></li>
							<li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@gmail.com</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}