{% extends 'home/home-layout.html' %}
{% block home-content %}


<div class="container-fluid">
    <div class="row">
        {% for data in grounds %}
        <div class="col-lg-4">
            <h1>{{data.ground_name}}</h1>
            <p>booking ground id: {{data.ground_id}}</p>
            <p>booking price: {{data.price}}</p>
            <p>ground player capacity: {{data.player_capacity}}</p>
            <form method="POST" action="/book/create">
                {% csrf_token %}
                <input readonly type="text" name="ground" value="{{data.ground_id}}"/>
                <input readonly type="text" name="customer" value="{{request.session.customer_id}}"/>
                <p><input type="time" name="time"/></p>
                <p><input type="date" name="date"/></p>
                <button type="submit" class="btn btn-outline-primary">book</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}