{% extends 'home/home-layout.html' %}
{% block home-content %}
{% load static %}
<div class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="booking-bg"><img width="100" src="/static/{{data.image}}"></div>
                    <form method="POST" action="/book/create">
                        <div class="form-header">
                            <h2>Book your Futsal ground now</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Booking date:</span>
                                    <input type="date" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Booking time:</span>
                                    <input type="time" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <span class="form-label">Username:</span>
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <span class="form-label">Ground Name</span>
                                {{form.ground_name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <span class="form-label">Price</span>
                                {{form.price}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <span class="form-label">Player Capacity</span>
                                {{form.player_capacity}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Book Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}