{% extends 'home/home-layout.html' %}
{% block home-content %}
{% load static %}
<div class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                {% if request.session.customer_id %}
                <div class="booking-form">
                    {% load static %}
                    <div class="booking-bg" style="background-image:url(/static/{{ground.image}});"></div>
                    <form method="POST" action="/book/create">
                        {% csrf_token %}
                        <label class="form-group"><h2>Book your Futsal ground now</h2></label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Booking date</label>
                                    <input class="form-control" type="text" value="{{form.date}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Booking time</label>
                                    <input class="form-control" type="text" value="{{form.time}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="form-label">Ground Name</label><br>
                                <input readonly class="form-control" type="text" value="{{ground.ground_name}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="form-label">Price</label><br>
                                <input readonly class="form-control" type="text" value="{{ground.price}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="form-label">Player Capacity</label><br>
                                <input readonly class="form-control" type="text" value="{{ground.player_capacity}}">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-primary">Book Now</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div><h2>Please Register</h2></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}